<article class="sidebar">
  <h1 class="sidebar-title">All the relevant products</h1>
  <p class="sidebar-body">
    While you attend the conference, head over to our gallery where you can check out some of the
    work from our speakers.
  </p>
  <div class="pixgrid clearfix">
    <% var index = 0; allProducts.forEach(function(product){%>
    <img src="/images/products/<%=product%>" alt="Artwork <%=index%>" />
    <% index++; })%>
  </div>
</article>
